@use '../Abstract/' as *;

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    overflow: hidden;
    background-color: $dim_white;
    align-items: center;
    width: 100vw;
    margin: 0 auto;
    height: max(12vh,5em);
    -webkit-box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.28); 
box-shadow: 1px 2px 16px 6px rgba(0,0,0,0.28);
}

.header-container{
    width: 100%;
    .branding{
        margin-left: 3.5em;
        .brand-logo{
            margin-right: 1.5em;
            order:1;
            width: 3.2rem;
            height: 3rem;
            object-fit: contain;
        }
        .brand-name{
            order:2;
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .cart-btn{
        display: flex;
        align-items: center;
        margin-right: 3.5em;
        justify-content: center;
        width: 4em;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        border: none;
        .cart-logo{
            font-size: 2rem;
        }
    }
    .cart-btn:hover{
        background-color: rgb(231, 40, 104);
        color: white;
    }
}