$dim_white:rgb(247, 247, 247);
$white-transparent:rgb(248, 245, 245, 0.3);
$light_grey: rgb(243, 241, 241);
$red_pink: rgb(231, 40, 104);
$hot_red: rgb(248, 56, 56);
$red_transparent: rgb(248, 56, 56, 0.3);